.navbar__container {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    .nav__logo {
        font-size: $fs-med;
        color: $clr-primary;
        font-weight: 900;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        font-size: $fs-sml;

        .nav__link {
            transition: all .3s ease;
            
            &:hover {
                transition: all .3s ease;
                color: $clr-primary;
            }
        }

        a {
            color: $clr-text1;
        }
    }
}