

// COLOR SCHEME
$clr-primary: #252650;
$clr-secondary: orange;
$clr-primary-lighter: #787afa;
$clr-primary-faded: #25265095;
$clr-text1: rgb(58, 58, 58);
$clr-text2: rgb(195, 192, 192);


// FONT SIZES

$fs-sml: 1rem;
$fs-med: 1.4rem; 
$fs-lrge: 2rem;
$fs-xlrge: 2.4rem;
$page-title: 3.5rem;
$hero-title: 4rem;



// FONT WEIGHT
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;
$fw-black: 900;


// FONT FAMILY
$ff-main: 'Poppins', sans-serif;

// SIZES
$mobile: 560px;
$tablet: 1360px;
